!!!
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/pistonballoon.js')
    script(src='/javascripts/d3.v2.js')
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes)
    style
      body {
        width: 400px;
        background: black;
        color:white;
      }
  body
    #container
      block body
